h1,
p {
  font-family: Lato;
}
.c {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.c1 {
  
}
.c2 {
  
}
.c3 {
  
}
.r2{
  
  display: flex;
  justify-content: center;
  align-items: center;
}
